<!DOCTYPE html>
<html>
  <head>
    <title>Tasks Manager</title>
  </head>
  <body>
  <h1>My Tasks</h1>
  <ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, edit_task_path(task) %>
      <%= link_to "Delete", destroy_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>

  </ul>
  <%= link_to 'new_Tasks', new_task_path%>
  </body>
</html>
